@page "/ordermanagement"
@inherits SCTSMA.PORTAL.SERVICES.OrderManagement.OrderManagementBase

<div class="pagetitle">
    <h2>Order Management</h2>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Order</a></li>
            <li class="breadcrumb-item">Management</li>
            <li class="breadcrumb-item active">Order Management</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    @if (isLoading)
    {
        <div class="text-center mt-5">
            <div class="spinner-border" role="status">
                @* <span class="sr-only">Loading...</span> *@
            </div>
            <p class="mt-2">Loading Orders...</p>
        </div>
    }
    else if (errorMessage != null && errorMessage != string.Empty)
    {
        <div class="error-container">
            <div class="error-message">
                <p>@errorMessage</p>
            </div>
            <button class="refresh-button" onclick="location.reload()">Refresh</button>
        </div>
    }
    else
    {
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p>List of all orders</p>

                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add_order">Add Order</button>
                        </div>
                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    Order ID
                                </th>
                                <th>Order Name</th>
                                <th>Description</th>
                                <th>Total price</th>
                                <th>Payment Status</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var Order in Orders)
                            {
                                <tr>
                                    <td>@Order.id</td>
                                    <td>@Order.name</td>
                                    <td>@Order.description</td>
                                    <td>@Order.tot_price</td>
                                    <td>
                                        @if(Order.is_paid!.Value)
                                        {
                                            <p>Paid</p>
                                        }
                                        else
                                        {
                                            <p>Not paid</p>
                                        }
                                    </td>
                                    <td>@Order.created!.Value.ToShortDateString()</td>
                                    <td>
                                            <button sytle="margin:1px;" type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#view_order" @onclick="(()=>GetSingleOrderById(Order.id))">View</button>
                                            <button sytle="margin:1px;" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_order" @onclick="(()=>GetSingleOrderById(Order.id))">Delete</button>
                                            <button sytle="margin:1px;" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#update_order" @onclick="(()=>GetSingleOrderById(Order.id))">Update</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>

            </div>

        </div>
    </div>
    }
</section>

<SCTSMA.PORTAL.WEB.Pages.OrderManagement.Partials.AddOrderModal orderPost="@orderPost" isAddOrderLoading="@isAddOrderLoading" addOrderErrorMessage="@addOrderErrorMessage" OnSave="@AddOrder" OnClose="@OnClose"/>
<SCTSMA.PORTAL.WEB.Pages.OrderManagement.Partials.ViewOrderModal OnClose="@OnClose" imagePath="@imagePath"/>
<SCTSMA.PORTAL.WEB.Pages.OrderManagement.Partials.DeleteOrderModal OnClose="@OnClose" OnSave="@DeleteOrder" isDeleteOrderLoading="@isDeleteOrderLoading" deleteOrderErrorMessage="@deleteOrderErrorMessage"/>
<SCTSMA.PORTAL.WEB.Pages.OrderManagement.Partials.UpdateOrderModal OnClose="@OnClose" OnSave="@UpdateOrder" isUpdateOrderLoading="@isUpdateOrderLoading" updateOrderErrorMessage="@updateOrderErrorMessage" orderPost="@orderPost"/>